In [17]:
import numpy as np
import pandas as pd 
from collections import Counter
from sklearn.model_selection import train_test_split

In [3]:
!ls data

quora_duplicate_questions.tsv

In [10]:
df = pd.read_csv('data/quora_duplicate_questions.tsv', sep='\t')
df.head(3)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0

In [12]:
Counter(df['is_duplicate'])

Counter({0: 255027, 1: 149263})

In [14]:
df_duplicates = df[df['is_duplicate'] == 1]

In [16]:
df_duplicates.shape[0]

149263

In [20]:
def preprocess(df):
    df['question1'] = df['question1'].apply(lambda x: x.lower())
    df['question2'] = df['question2'].apply(lambda x: x.lower())
    return df

In [21]:
df_duplicates = preprocess(df_duplicates)
df_duplicates.head(2)

/Users/alex/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/alex/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,id,qid1,qid2,question1,question2,is_duplicate
5,5,11,12,astrology: i am a capricorn sun cap moon and c...,"i'm a triple capricorn (sun, moon and ascendan...",1
7,7,15,16,how can i be a good geologist?,what should i do to be a great geologist?,1

In [22]:
train, test = train_test_split(df_duplicates, train_size=0.9, random_state=1234)

/Users/alex/anaconda/lib/python3.5/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [23]:
train.head(2)

,id,qid1,qid2,question1,question2,is_duplicate
143296,143296,227057,227058,can i work for part time in teach for india?,can we do teach for india in part time?,1
163998,163998,46194,22296,which are the best movies ever?,what is the world's best movie?,1

In [ ]:
train.to_csv('')